:host {
    display: flex;
    flex-direction: column;
    gap: 8px;

    .forecast-container {
        display: flex;
        flex-direction: column;
        gap: 8px;

        &__list {
            display: flex;
            flex-wrap: wrap;
            gap: 4px;

            &__item {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 10rem;
                border: 1px solid gainsboro;
                border-radius: 5px;
                padding: 4px 8px;
                cursor: pointer;
            }
        }

        &__selected-day {
            h2 {
                font-size: 26px;
            }

            table {
                width: 100%;

                td {
                    text-align: center;
                }
            }
        }
    }
}
